:root {
  --body-bg: #0b0c28;
  --primary-color: #181b3a;
}

* {

  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--body-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
